.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
package_loader.R
virridy_sonde_locations.html
scripts/api_pull/credentials.yml
scripts/api_pull/unused
.DS_Store
*.DS_Store
scripts/plotter.R
scripts/02_analysis.Rmd
data
02_analysis.Rmd
